<div class="row justify-content-between">
  <h2>Customers List</h2>
  <div class="d-flex">
    <input class="form-control mr-2" type="text" placeholder="Input name" [(ngModel)]="term">
    <button class="btn btn-info">Search</button>
  </div>
</div>


<div class="row mt-3">
  <button [routerLink]="['create']" class="btn btn-success">Create</button>
  <table class="table table-striped table-hover mt-3"
      style="background-color: #ffffff;
      opacity: 0.8; box-shadow: 10px 10px 8px #49555b">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Date Of Birth</th>
      <th>ID Card</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Address</th>
      <th>Customer Type</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor = "let customer of customers |filter:term">
      <td>{{customer.id}}</td>
      <td style="max-width: 18px">
        <a [routerLink]="['detail', customer.id]">{{customer.name}}</a>
      </td>
      <td>{{customer.dateOfBirth}}</td>
      <td>{{customer.idCard}}</td>
      <td>{{customer.phone}}</td>
      <td>{{customer.email}}</td>
      <td>{{customer.address}}</td>
      <td>{{customer.idCustomerType}}</td>
      <td style="width: 13%">
        <button class="btn btn-primary mr-1" [routerLink]="['edit', customer.id]">Edit</button>
        <button class="btn btn-warning" [routerLink]="['delete', customer.id]">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

