<form [formGroup]="customerForm" (ngSubmit)="saveCustomer()">
  <div class="form-row">
    <div class="form-group col-6">
      <label>Name: </label>
      <input
        formControlName="name"
        type="text" class="form-control">
    </div>
    <div class="form-group col-6">
      <label>Date Of Birth: </label>
      <input
        formControlName="dateOfBirth"
        type="text" class="form-control">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-6">
      <label>ID Card: </label>
      <input
        formControlName="idCard"
        type="text" class="form-control">
    </div>
    <div class="form-group col-6">
      <label>Phone: </label>
      <input
        formControlName="phone"
        type="text" class="form-control">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-6">
      <label>Email: </label>
      <input
        formControlName="email"
        type="text" class="form-control">
    </div>
    <div class="form-group col-6">
      <label>Address: </label>
      <input
        formControlName="address"
        type="text" class="form-control">
    </div>
  </div>

  <div class="form-group">
    <label>Customer Type: </label>
<!--    <select formControlName="idCustomerType">-->
<!--      <option value="1">Diamond</option>-->
<!--      <option value="2">Platinum</option>-->
<!--      <option value="3">Gold</option>-->
<!--      <option value="4">Silver</option>-->
<!--      <option value="5">Member</option>-->
<!--    </select>-->
    <select
      formControlName="idCustomerType"
      class="form-control">
      <option value="Diamond">Diamond</option>
      <option value="Platinum">Platinum</option>
      <option value="Gold">Gold</option>
      <option value="Silver">Silver</option>
      <option value="Member">Member</option>
    </select>
  </div>
  <input type="submit" value="Create" class="btn btn-success">
  <a class="btn btn-outline-primary ml-2" href="/customer">Back</a>
</form>
