<h2>List Student</h2>
  <table class="table table-hover table-striped">
    <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Mark</th>
      <th>Image</th>
      <th>Result</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let student of students">
      <td>{{student.id}}</td>
      <td>{{student.name}}</td>
      <td>{{student.mark}}</td>
      <td><img [src]="student.image" width="10%"></td>
      <td>
        <div *ngIf="student.mark > 5; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock><p style="color: green">Pass</p></ng-template>
        <ng-template #elseBlock><p style="color: red">Fail</p></ng-template>
      </td>
      <td><button (click)="getStudent(student)">Detail</button></td>
    </tr>
    </tbody>
  </table>


<app-student-detail [student]="studentDetail"></app-student-detail>

